.card {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
}

.title{
  margin-bottom: 8px;
  color: whitesmoke;

  >span{
    font-weight: bold;
  }
}

.description{
  color: whitesmoke;
  font-style: italic;
}